[Unit]
Description=Postfix Mail Transfer Agent
After=network-online.target


[Container]
Image=ghcr.io/cody-chapman/postfix:latest
ContainerName=postfix
AutoUpdate=registry

# Environment Settings
Environment=TZ=America/Chicago
Environment=MYNETWORKS="192.168.0.0/24 172.16.0.0/24 10.88.0.0/24"
Environment=RELAYHOST="vnatoday-org.mail.protection.outlook.com"
Environment=MYHOSTNAME=vnatoday.org"

# Health check configuration
HealthCmd=test -f /var/spool/postfix/pid/master.pid
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=15s


# Port Mappings
PublishPort=25:25

[Service]
Restart=always


[Install]
WantedBy=multi-user.target
