[Unit]
Description=Postfix Mail Transfer Agent
After=network-online.target


[Container]
Image=ghcr.io/cody-chapman/postfix:latest
ContainerName=postfix
AutoUpdate=registry

# Environment Settings
Environment=TZ=America/Chicago
Environment=ALLOWED_NETWORKS="192.168.0.0/24 172.16.0.0/24"
Environment=RELAY_HOST="vnatoday-org.mail.protection.outlook.com"

# Port Mappings
PublishPort=25:25

[Service]
Restart=always


[Install]
WantedBy=multi-user.target
