[Unit]
Description=Postfix Mail Transfer Agent
After=network-online.target


[Container]
Image=ghcr.io/cody-chapman/postfix:latest
ContainerName=postfix
AutoUpdate=image

# Environment Settings
Environment=TZ=America/Chicago
Environment=ALLOWED_NETWORKS="192.168.0.0/24 172.16.0.0/24"
Environment=RELAY_HOST="vnatoday-org.mail.protection.outlook.com"

# Port Mappings
PublishPort=25:25

# Mount configurations using absolute paths. 
# Replace '/etc/postfix/config' with the actual path where you store your configuration files.
Volume=%h/postfix/config/main.cf:/etc/postfix/main.cf:Z
Volume=%h/postfix/config/allowed_hosts:/etc/postfix/allowed_hosts:Z

[Service]
Restart=always


[Install]
WantedBy=multi-user.target
